
body{
    background-color: #333;
    color:rgb(211, 210, 210);
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#container{
    background-color: black;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #CCC;
    margin: 0 auto;
}

#container h1{
    font-size: 45px;
    color: white;
}